
html{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before{
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
          margin: 0;
          padding: 0;
}


a{
  color: inherit;
  text-decoration: none;
}

img{
  max-width: 100%;
}



:root {
    --bg: #0F172A;
    --surface: #111827;
    --card: #1E293B;

    --text: #F8FAFC;
    --muted: #94A3B8;

    --accent: #38BDF8;
    --accent-hover: #0EA5E9;

    --border: #334155;
}

body{
 font-family: 'Manrope', sans-serif;
 font-optical-sizing: auto;
 font-style: normal;
  background-color: var(--bg); /* ВАЖНО */
  color: var(--text);
  line-height: 1.5;
  min-width: 280px;
}

.list-reset{
    margin: 0;
    padding: 0;
    list-style: none;
  }

.btn-reset{
    padding: 0;
    border: none;
    background-color: inherit;
    cursor: pointer;
  }

.flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

h1 {
  font-size: 42px;
  font-weight: 600;
}

h2 {
  font-size: 32px;
  font-weight: 600;
}

h3 {
  font-size: 24px;
  font-weight: 500;
}

p {
  color: var(--color-text-light);
  font-size: 16px;
}

* {
  transition: all 0.2s ease;
}

::selection {
  background: var(--color-accent);
  color: white;
}

input[type="search"]::-webkit-search-cancel-button, 
input[type="search"]::-webkit-search-decoration, 
input[type="search"]::-webkit-search-results-button, 
input[type="search"]::-webkit-search-results-decoration {
   display: none; 
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 20px; /* было 20px */
}

.card {
    background: var(--card);
    border: 1px solid var(--border);
}

.btn__primary{
    background: var(--accent);
    color: var(--text);
    padding: 12px 24px;
    border-radius: 6px;
}

.btn__ghost{
  background-color: transparent;
  color: var(--text);
  border: 1px solid var(--border);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  padding: 12px 24px;
}

.btn__primary:hover {
    background: var(--accent-hover);
    color: var(--bg);
    cursor: pointer;
} 

.btn__ghost:hover{
  color: var(--accent-hover);
  background-color: var(--border);
}
.flex{
  display: flex;
}

.subtitle{
    color: var(--accent);
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1.5;
    display: flex;
    align-items: center;
    gap: 14px;
}

.subtitle::before {
    content: "";
    width: 60px;
    height: 2px;
    background: var(--accent);
    border-radius: 10px;
}

.section{
  padding: 40px 80px;
  flex-direction: column;
  gap: 20px;
  min-height: 400px;
  margin-bottom: 60px;
}

.main__title{
  font-size: clamp(32px, 5vw, 44px);
  max-width: 500px;
  margin: 0;
  padding: 0;
  line-height: 2.5rem;
  hyphens: auto;
 overflow-wrap: break-word;
}
.main__description{
  max-width: 500px;
  color: var(--muted);
   font-size: clamp(18px, 3vw, 24px);
  overflow-wrap: break-word;
}

.line{
  background-color: var(--border);
  width: 100%;
  height: 2px;
}


@media (max-width: 1024px){
    
}

@media (max-width: 768px) {
  .section{
    padding: 10px 40px;
  }
  
}

@media (max-width: 400px){
  .section{
    padding: 10px 20px;
  }
}